<nav class="fs-main-nav">
  <a href="marketplace.html" class="fs-nav-item fs-nav-item">
    <img src="assets/icons/dashboard.svg" class="fs-nav-icon" />
    <span class="fs-nav-label">Marketplace</span>
  </a>

  <a href="list-empty-space.html" class="fs-nav-item">
    <img src="assets/icons/truck.svg" class="fs-nav-icon" />
    <span class="fs-nav-label">List Empty Space</span>
  </a>

  <a href="find-shipment.html" class="fs-nav-item">
    <img src="assets/icons/search.svg" class="fs-nav-icon" />
    <span class="fs-nav-label">Find Shipment</span>
  </a>

  <a href="my-bookings.html" class="fs-nav-item">
    <img src="assets/icons/box.svg" class="fs-nav-icon" />
    <span class="fs-nav-label">My Bookings</span>
  </a>

   <a href="Requests.html" class="fs-nav-item">
    <img src="assets/icons/request.svg" class="fs-nav-icon" />
    <span class="fs-nav-label">Requests</span>
  </a>
</nav>
